{% extends 'base.html' %}

{% block title %}{{ holiday }} - {{ holiday.human_date }}{% endblock %}

{% block content %}
    <div class="content">
        <h2>{{ holiday }}</h2>
        <div class="date">({{ holiday.human_date }})</div>

        <h3>Список подарков:</h3>
        <ul class="is-gifts">
            {% for gift in holiday.gift_set.all %}
                {% if not gift.reserved %}
                    <li class="js-gift">
                        {% include 'gifts/include/gift.html' %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="inline hidden reserve-form-wrapper js-reserve-form-wrapper">
        <form class="js-reserve-form" method="POST" action="">
            {% csrf_token %}
            <label>E-mail<span class="required">*</span>: <input type="email" name="email" required="required"></label>
            <label>Имя: <input type="text" name="name"></label>
            <input type="hidden" name="action" class="js-action" value="">
            <input type="submit" value="Сохранить!">
            <input type="reset" value="Отменить">
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}jquery.min.js"></script>
    <script src="{{ STATIC_URL }}reserve.js"></script>
{% endblock %}
